.git
.github
.evals
.env
.env.*
.local
.azure
.venv
venv
__pycache__
.pytest_cache
appPackage
deployment
docs
env
evals
evaluations
knowledge
scripts
security
tests
*.md
*.log
*.pem
*.key
*.pfx
*.p12
